#bmes__main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  width: 100%;
  height: 100%;
}
.bmes__outlet {
  grid-column: 1/13;
  grid-row: 2/10;
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.bmes__outlet::-webkit-scrollbar {
  display: none;
}
