@import "./preset.less";

.bmes-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bmes__upper__caroussel {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bmes__landing__caroussel__item {
  width: 100%;
  height: 100vh;
  position: relative; /* Add this line */
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute; /* Add this line */
    top: 0; /* Add this line */
    left: 0; /* Add this line */
    filter: brightness(0.3);
  }
}
.overLay__bmes {
  position: absolute;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 7%;
  gap: 8rem;
  h1 {
    color: @bmes_white;
    font-family: @bmes_lato;
    font-size: clamp(23px, 7vh, 43px);
  }
  h2 {
    color: @bmes_white;
    font-family: @bmes_lato;
    font-size: clamp(23px, 5vh, 43px);
    font-style: italic;
    font-weight: 300;
  }
  button {
    width: 20%;
  }
}
.bmes__who_are_we {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #0d0e52de;
  color: #ffffff;
  padding: 0 7%;
  gap: 2%;
  span {
    color: @bmes_tertiary;
  }
  h1 {
    color: @bmes_white;
    font-family: @bmes_montserrat;
    width: 100%;
    font-size: 42px;
    font-weight: 300;
    padding-top: 2%;
  }
  p {
    text-align: justify;
  }
}
.bmes__who__are_we_text {
  width: 80%;
  flex-basis: 30%;
  font-family: @bmes_montserrat;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1rem;
  padding: 3% 0;
}
.bmes__landing__cards {
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2% 0;
}
@media (max-width: 700px) {
  .bmes__who__are_we_text {
    flex-basis: 100%;
    padding: 5%;
    p {
      font-size: 13px;
    }
  }
  .bmes__who_are_we {
    padding: 4% 0;
    h1 {
      color: @bmes_white;
      font-family: @bmes_montserrat;
      width: 100%;
      font-size: 35px;
      font-weight: 300;
      padding-top: 2%;
    }
  }
  .overLay__bmes {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    padding: 0 7%;
    button {
      width: 40%;
    }
    h2 {
      color: @bmes_white;
      font-family: @bmes_lato;
      font-size: 1.7rem;
      font-style: italic;
      font-weight: 300;
    }
    h1 {
      color: @bmes_white;
      font-family: @bmes_lato;
      font-size: 21px;
    }
  }
}
