@import "./preset.less";

.bmes-landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d6dee9;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 0;
  background-image: url(../../public/images/caroussel-image-2.jpg);
  background-size: cover;
}
.caroussel {
  width: 100%;
  height: 100vh;
}
.slougan-bmes {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slougan-text {
  font-family: @bmes_poppins;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  line-height: 3rem;
  min-width: 60%;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.486);
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}
.bmes-blue {
  color: @bmes_primary;
  font-size: 27px;
}
