.bmes__services {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  background-color: rgba(254, 254, 255, 0.461);
  height: 100vh;
  overflow: scroll;
  width: 100%;
}
.bmes__service__etude__image{
    width: 400px;
    height: 400px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.bmes__service__etude__bigImage{
    width: 400px;
    height: 400px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}